#miFormularioConvo {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#miFormularioConvo label {
    display: block;
    margin-bottom: 8px;
}



#miFormularioConvo input,
#miFormularioConvo select,
#miFormularioConvo textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#miFormularioConvo select {
    appearance: none;
}

#miFormularioConvo input[type="checkbox"] {
    margin-top: 6px;
}

#miFormularioConvo input[type="button"],
#miFormularioConvo input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#miFormularioConvo input[type="button"]:hover,
#miFormularioConvo input[type="submit"]:hover {
    background-color: #45a049;
}

#miFormularioConvo #elementosBaremo,
#miFormularioConvo #camposNivelIdioma,
#miFormularioConvo #camposEntrevista,
#miFormularioConvo #camposNotas {
    margin-top: 20px;
}

#miFormularioConvo #entrar{
    background-color: blue;
}