body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2e7799;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #fff;
}

#coge {
    width: 300px;
    padding: 20px;
    background-color: #2ecc71;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #fff;
}

input {
    padding: 9px;
    margin-bottom: 12px;
    border: 1px solid #3498db;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #c0392b;
}

/* Agrega más estilos según tus necesidades */
